<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.esg.mapper.LOLboardMapper">

	<select id="BoardList" resultType="LOLBoardVO">
        select * from lol_board 
        order by IDX DESC
        LIMIT #{pageStart}, #{perPageNum};
    </select>
    
    <select id="countBoardList" resultType="int">
        select count(*) from lol_board
    </select>
    
    <insert id="write" useGeneratedKeys="true" keyProperty="IDX">
		INSERT INTO lol_board
		(		TITLE,
                CONTENTS,
                HIT_CNT,
                DEL_CHK,
                CREA_ID,
                RECOMMEND
        )
		VALUES
		(		#{TITLE},
                #{CONTENTS},
                0,
                'N',
                #{CREA_ID},
                0
        );
	</insert>
	
	<insert id="insertFile">
        INSERT INTO lol_file
        (
            BOARD_IDX,
            ORG_FILE_NAME,
            SAVE_FILE_NAME,
            FILE_SIZE,
            CREA_ID,
            CREA_DATE,
            UPDATE_DATE
        )
        VALUES
        (
            #{ BOARD_IDX},
            #{ ORG_FILE_NAME},
            #{ SAVE_FILE_NAME},
            #{ FILE_SIZE},
            #{ CREA_ID},
            SYSDATE(),
            SYSDATE()
        );
</insert>
	<select id="getBoardFile" resultType="LOLBoardVO">
            SELECT
                IDX,
                ORG_FILE_NAME,
                SAVE_FILE_NAME,
                ROUND(FILE_SIZE/1024,1) AS FILE_SIZE
            FROM
                lol_file
            WHERE
                BOARD_IDX = #{IDX};
    </select>
	<select id="getBoard" resultType="LOLBoardVO">

            SELECT
                *
            FROM
                lol_board
            WHERE
                IDX = #{IDX};
    </select>
    <update id="updateBoardCnt">
            UPDATE
                lol_board
            SET
                HIT_CNT = HIT_CNT + 1
            WHERE
                IDX = #{IDX};
    </update>
    
    <update id="update">
            UPDATE
                lol_board
            SET
                TITLE = #{TITLE},
                CONTENTS = #{CONTENTS}
            WHERE
                IDX = #{IDX}
                and
                CREA_ID = #{CREA_ID};
    </update>
    
    <delete id="delete">
    	DELETE FROM lol_board
    	WHERE IDX = #{IDX};
    </delete>
<update id="recommend">
            UPDATE
                lol_board
            SET
                RECOMMEND = RECOMMEND + 1
            WHERE
                IDX = #{IDX};
    </update>
</mapper>