<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.esg.mapper.MemberMapper">

	<select id="idcheck" parameterType="String" resultType="int">
	
		select count(userid) from esgmember
		where userid=#{userid}
		
	</select>
	
	<insert id="insertMember">
	
		insert into esgmember (userid,userpw,username,useremail,address,phNum,dayBirth1,dayBirth2)
		values(#{userid},#{userpw},#{username},#{useremail},#{address},#{phNum},#{dayBirth1},#{dayBirth2})
	
	</insert>
	
	<select id ="loginCheck" resultType="MemberVO">
	
		select * from esgmember
		where userid=#{userid} and userpw=#{userpw}
	
	</select>
	
	
	<update id="pointCharge">
		
		update esgmember set userpoint=userpoint+#{userpoint}
 		where userid=#{userid}
	
	</update>
	
	<insert id="mileInsert">
	
		insert into esgmile (chargeNum,userid,userpoint,chargeSort)
		values(#{chargeNum},#{userid},#{userpoint},#{chargeSort})
	
	</insert>
	
	
	<select id="getSearchCnum" resultType="String">
  	select chargeNum from esgmile order by date desc limit 1
  	</select>
  	
	<select id="getMyMileSearch" resultType="esgMileVO">
  	select * from esgmile 
  	where userid=#{userid}
  	order by date desc 
  	</select>
  	
	<select id="getMyTrSearch" resultType="trMailVO">
  	select * from tr_mail 
  	where trSender=#{userid} || trReceiver=#{userid}
  	order by trDate desc 
  	</select>
	
	
	 <select id="tradeMileGet" resultType="int">
 		select price from trloaboard
 		where num=#{num}
 	</select>
	
	 <update id="trUpdateMail">
 		update tr_mail set trState='yes'
 		where trBnum=#{trBnum}
 	</update>
 	
	 <update id="sellerMileTrans">
 		update esgmember set userpoint=userpoint+${userpoint}
 		where userid=#{userid}
 	</update>
 	
	 <update id="buyerMileTrans">
 		update esgmember set userpoint=userpoint-${userpoint}
 		where userid=#{userid}
 	</update>
 	
 	<update id="mileUpdate">
 		update esgmember set userpoint=userpoint-${userpoint}
 		where userid=#{userid}
 	</update>
	
	 <select id="getIdSearch" resultType="String">
 		select userid from esgmember
 		where username=#{username} and dayBirth1=#{dayBirth1} and phNum=#{phNum}
 	</select>
 	
	 <select id="getPwSearch" resultType="String">
 		select count(username) from esgmember
 		where userid=#{userid} and dayBirth1=#{dayBirth1} and phNum=#{phNum}
 	</select>
	
	 <update id="updateRePw">
 		update esgmember set userpw=#{userpw}
 		where userid=#{userid}
 	</update>
 	
	 <update id="updateMeInfo">
 		update esgmember set userpw=#{userpw}
 		where userid=#{userid}
 	</update>
 	
	<insert id="exInsert">
	
		insert into esgexchange (userid,userpoint,username,chargeNum)
		values(#{userid},#{userpoint},#{username},#{chargeNum})
	
	</insert>
	
	<delete id="deleteMeInfo">
	
		delete from esgmember
		where userid=#{userid}
		
	
	</delete>
	
	 <update id="getRefuse">
 		update tr_mail set trState=#{trState}
 		where trBnum=#{trBnum}
 	</update>
 	
 	<select id="getFromTrInfo" resultType="trMailVO">
 		select * from tr_mail
 		where trReceiver=#{userid}
 	</select>
 	
 	<select id="getToTrInfo" resultType="trMailVO">
 		select * from tr_mail
 		where trSender=#{userid}
 	</select>
 	
 	
	<insert id="sendMail">
	
		insert into esgmail (mSubject,mContent,mSender,mReceiver)
		values(#{mSubject},#{mContent},#{mSender},#{mReceiver})
	
	</insert>
 	
 	<select id="getmailForm" resultType="esgmailVO">
 		select * from esgmail
 		where mReceiver=#{userid}
 	</select>
 	
 	<select id="getmailTo" resultType="esgmailVO">
 		select * from esgmail
 		where mSender=#{userid}
 	</select>
 	
</mapper>
