<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.esg.mapper.TrLoaMapper">


	<insert id="TrLoainsert">
	
		insert into trLoaBoard (userid,subject,content,ip,file,goodsCount,chname,price)
		values(#{userid},#{subject},#{content},#{ip},#{file},#{goodsCount},#{chname},#{price})
	
	</insert>
	
	
	<select id="TrLoaList" resultType="trLoaVO">
	
	 <![CDATA[
 		select * from trLoaBoard
 		where num > 0
 		order by num desc, date desc 
 		limit #{pageStart},#{perPageNum}
 		]]>
 		
	</select>
	
	<select id="TrLoaSearchList" resultType="trLoaVO">
	
	 <![CDATA[
 		select * from trloaBoard
 		where (subject like concat('%',#{searchName},'%')) || (content like concat('%',#{searchName},'%'))
 		order by num desc, date desc 
 		limit #{pageStart},#{perPageNum}
 		]]>
 		
	</select>
	
	
	
	<select id="totalCnt" resultType="int">
 	select count(num) from trLoaBoard;
 	
 	</select>
 	
 	
 	<select id="TrLoaContent" resultType="trLoaVO">
 	select * from trLoaBoard where num=#{num};
 	
 	</select>
 	
 	
 	<select id="totalCnt2" resultType="int">
 	select count(num) from trLoaBoard
 	where (subject like concat('%',#{searchName},'%')) || (content like concat('%',#{searchName},'%'));
 	
 	</select>
 	
 	<update id="TrLoaModify">
 		update trLoaBoard set subject=#{subject},content=#{content},file=#{file},goodsCount=#{goodsCount},
 		chname=#{chname},price=#{price}
 		where num=#{num}
 	</update>
 	
 	<delete id="TrLoaDelete">
 		
 		delete from trLoaBoard
 		where num=#{num}
 	
 	</delete>
 	
 	
</mapper>